[Unit]
Description=bedberry
Documentation=https://github.com/DarwinInnovation/bedberry
After=network.target

[Service]
Type=simple
User=pi
Environment=LOG_LEVEL=warn
WorkingDirectory=/home/pi/bedberry/software
ExecStart=/usr/bin/node /home/pi/bedberry/software/dist/server/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target